body {
    background: aliceblue;
}
#tic-tac-puzzle {
    border: 4px solid black;
    box-sizing: content-box;
    margin: 30px auto;
    position: relative;
}
#tic-tac-puzzle.width-6 {
    width: 480px;
}
#tic-tac-puzzle:after {
    content: "";
    display: block;
    clear: both;
}
.spot {
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}

.current {
    background: lime;
}

.compare {
    background: tomato;
}

.insert {
    background: navy;
}

#step-text {
    width: 700px;
    font-size: 20px;
    margin: auto;
}